/* HistoryPage.css */

.history-container {
  display: flex;
}

.content-wrapper {
  flex: 1;
}

.content-area {
  background-color: #F3F6FE;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
}

.history-main-box {
  flex: 1;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  padding: 8px;
  margin: 16px 16px;
  position: relative;
}

.custom-history-style .historyBox {
  height: flex;
}

.custom-history-style .recentlyProblemBox {
  height: flex;
}